:root{
    --bg-color: rgba(5, 10, 25, 1);
    --text-color: #fff;
    --button-color: rgb(77, 121, 255);
    --button-color-hover: rgba(77, 121, 255, 0.8);
}

*{
    font-family: 'Poppins', sans-serif;
}